{% extends "LockBoxApp/base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url("{% static 'LockBoxApp/file.jpg' %}");
        background-size: cover; /* adjust the background image size to cover the entire page */
        background-position: center; /* center the background image */
        background-repeat: no-repeat; /* prevent the background image from repeating */
    }
    .container {
        background-color: rgba(255, 255, 255, 0.9); /* add a white background with 80% opacity to the container */
        padding: 20px; /* add some padding to the container */
        border-radius: 10px; /* add a border radius to the container */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a box shadow to the container */
    }
</style>
<div>
    <h1 class="text-center pt-4 text-success">Welcome to LockBox</h1>
    <p class="lead text-center" style="color:white">Securely manage your files with LockBox.</p>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h2 class="card-title">Upload Files</h2>
          <p class="card-text">Upload your files securely with LookBox.</p>
          <a href='{% url "upload_file" %}' class="btn btn-primary btn-block">Upload</a>
        </div>
      </div>
      <div class="col-md-4">
        {% comment %} <div class="card">
          <h2 class="card-title">Download Files</h2>
          <p class="card-text">Download your files securely with Lookbase.</p>
          <a href="#" class="btn btn-primary btn-block">Download</a>
        </div> {% endcomment %}
      </div>
      <div class="col-md-4">
        <div class="card">
          <h2 class="card-title">Manage Files</h2>
          <p class="card-text">Manage your files securely with Lookbase.</p>
          <a href='{% url "file_list" %}' class="btn btn-primary btn-block">Manage</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
