{% extends "LockBoxApp/base.html" %}
{% block content %}
<style>
    .card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 10px;
        padding: 20px;
      }
      
      .card-body {
        padding: 20px;
      }
      
      .dropzone {
        border: 2px dashed #ccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
      }
      
      .dz-message {
        font-size: 18px;
        color: #666;
        margin-bottom: 20px;
      }
      
      .dz-message h3 {
        font-weight: bold;
        margin-top: 0;
      }
      
      .btn-primary {
        background-color: #337ab7;
        border-color: #337ab7;
        color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        width: 100%;
      }
      
      .btn-primary:hover {
        background-color: #23527c;
        border-color: #23527c;
      }
</style>
<div class="container">
  <h1 class="text-center">Choose File to Upload</h1>
  <div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" id="myDropzone">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Upload</button>
      </form>
    </div>
  </div>
</div>

<!-- Include Dropzone.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
<script>
  // Initialize Dropzone.js
  Dropzone.autoDiscover = false;
  var myDropzone = new Dropzone("#myDropzone", {
    url: "{% url 'upload_file' %}",
    paramName: "file",
    maxFilesize: 500, // Maximum file size in MB
    acceptedFiles: ".jpg,.mp4,.jpeg,.png,.pdf", // Allowed file types
    dictDefaultMessage: "Drop files here or click to upload",
    init: function() {
      this.on("success", function(file, response) {
        console.log("File uploaded successfully: " + file.name);
      });
    }
  });
</script>

{% endblock %}